<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into post(title, author, content)
        values(#{title}, #{author}, #{content})
    </insert>
    
    <select id="findAll" resultType="board">
        select * from post;
    </select>
    
    <select id="findById" parameterType="Long" resultType="board">
        select * from post where id=#{id};
    </select>
    
    <update id="update" parameterType="board">
    	update post set title=#{title}, content=#{content} where id=#{id};
    </update>
    
    <delete id="delete" parameterType="Long">
    	delete from post where id=#{id};
    </delete>
</mapper>